<section>
    <div class="product-img">
        <img class="mac-img" src="assets/img/Macbook-pro.jpg" alt="Mac-pro">
    </div>
    <div class="product-details">
        <h1>Apple MacBook Pro 13,3” <br>(Intel Core i5, 1.4 GHz, 8 GB RAM, 128 GB SSD)</h1>
        <hr>
        <h2>R$ 12,000</h2>
        <p>ou em até 1.000.000x de R$ 1,20</p>
        <p>aceitamos rins!!</p>
        <hr>
        <i class="material-icons">payment</i>
        <i class="material-icons">local_shipping</i>
        <i class="material-icons">lock</i>
        <hr>
        <p>Chip M1 da Apple com CPU de 8 núcleos, GPU de 8 núcleos e Neural Engine de 16 núcleos</p>
        <ul>
            <li>Memória unificada de 8 GB</li>
            <li>Armazenamento SSD de 128 GB</li>
            <li>Tela Retina de 13 polegadas com True Tone</li>
            <li>Magic Keyboard</li>
            <li>Touch Bar e Touch ID</li>
            <li>Trackpad Force Touch</li>
            <li>Duas portas Thunderbolt / USB 4</li>
        </ul>
        <button mat-raised-button>Comprar</button>

    </div>

</section>