<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">Bem Vindo!</mat-card-title>
</mat-card>

<section>
    <div class="card">
        <img class="mac-pro" src="assets/img/Macbook-pro.jpg" alt="Macpro">
        <h1>Apple MacBook Pro 13,3” <br>(Intel Core i5, 1.4 GHz, 8 GB RAM, 128 GB SSD) - Prata </h1>
        <h2>R$12,000</h2>
        <button mat-raised-button class="btn-buy">
            Comprar
        </button>
    </div>
    <div class="card">
        <img class="s20" src="assets/img/samsung-S20.jpg" alt="galaxy-s20">
        <h1>SMARTPHONE SAMSUNG GALAXY S20 128GB CINZA COSMIC </h1>
        <h2>R$5,000</h2>
        <button mat-raised-button class="btn-buy">
            Comprar
        </button>
    </div>
    <div class="card">
        <img class="ps5" src="assets/img/Playstation-5.jpg" alt="Playstation-5">
        <h1>Console Playstation 5, Digital Edition - Sony</h1>
        <h2>R$4,500</h2>
        <button mat-raised-button class="btn-buy">
            Comprar
        </button>
    </div>
    <div class="card">
        <img class="t5i" src="assets/img/t5i.jpg" alt="cannon-t5i">
        <h1>Canon EOS T5i + Lente 18 55mm IS STM</h1>
        <h2>R$2,999</h2>
        <button mat-raised-button class="btn-buy">
            Comprar
        </button>
    </div>
</section>